body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

section {
    height: 500px;
    padding-top: 50px;
    padding-bottom: 100px;
}



.heading {
    color: #FBA24F;
}
.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

h1 {
    font-size: 50px;
}


.male-img {
    width: 40%;
    padding: 10px;
}

.anchor-button {
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    padding: 20px 30px;
    border-radius: 35px;
    color: white;
    font-weight: 700;
    
}

p {
    color: dimgray;
    padding-bottom: 40px;
}

.hero-img {
    position: absolute;
    top: 0;
    bottom: 0;
}

.about-me {
    background-image: url("images/shapes/7.png");
    background-repeat: no-repeat;
}

.female-img{
    width: 60%;
    padding-left: 80px;
}

.recipes{
    align-items: center;
}